# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Duvan\OneDrive - UPB\Carrera\Semestres\4. Cuarto semestre\Estructura de Datos\Trabajos\Practico\Pilas\exp-pre-pos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
